* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}

html, body {
	width: 100%;
	height: 100%;
}

.wrapper {
	overflow-x: hidden;
	width: 100%;
    min-height: 100vh;
	position: relative;
	background: #e5e5e5;
}

header {
	text-align: center;
    padding: 25px 0;
    color: #fccf00;
    display: block;
    background: #fccf00;
    -webkit-text-stroke: 1px #161719;
}

main {
	text-align: center;
	max-width: 800px;
	margin: 0 auto 60px;
	min-height: 400px;
	display: block;
}

.container {
	padding: 60px 0;
}

.grid {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	max-width: 800px;
	flex-direction: column;
	@media (max-width: 600px) {
		width: 100%;
		flex-direction: column;
	}
}

.card {
	width: 100%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	h2 {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
	}
	p {
		margin: 0;
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

.datetime {
	display: flex;
}

time {
	margin-left: 5px;
}
.btn-create {
	margin: 0 auto;
    display: block !important;
}
.buttons {
	display: flex;
	justify-content: space-between;
}

.btn {
    width: 48%;
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0; 
	background: #fccf00 50%;
    padding: 25px 0;
	color: #161719;
}