* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}

html, body {
	width: 100%;
	height: 100%;
}

.wrapper {
	overflow-x: hidden;
	width: 100%;
    min-height: 100vh;
	position: relative;
}

header {
	text-align: center;
    padding: 25px 0;
	color: #161719;
	display: block;
}

main {
	text-align: center;
	max-width: 800px;
	margin: 0 auto 60px;
	min-height: 400px;
	display: block;
}

.container {
	padding: 40px 0;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	@media (max-width: 600px) {
		width: 100%;
		flex-direction: column;
	}
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
	&:hover,&:focus,&:active {
		color: #0070f3;
		border-color: #0070f3;
	}
	h2 {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
	}
	p {
		margin: 0;
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0; 
	background: #fccf00 50%;
    padding: 25px 0;
	color: #161719;
}